<h2>By Country</h2>
<hr>

<div class="row">
    <div class="col">
        <app-country-input
            (onEnter)="search( $event )"
            (onDebounce)="suggest( $event )"
            placeholder="Search by capital..."
        ></app-country-input>
    </div>
</div>
<ul 
    *ngIf="showSuggest"
    class="list-group">
    <li 
        *ngFor="let country of suggestCountries"
        class="list-group-item list-group-item-action">
       
        <a 
            [routerLink]="['/country', country.alpha2Code]"
            class="nav-link"
            >
            {{ country.name }}
        </a>
    </li>
    <li 
           class="list-group-item list-group-item-action">
        <a 
            class="nav-link"
            (click)="searchSuggest( term )"
            >
           Search {{ term }}
        </a>
    </li>
</ul>
<hr> 
<div
    *ngIf="anyError"
    class="alert alert-danger">
    No results found for {{ term }} :(
</div>

<div
    *ngIf="countries.length > 0"
    class="row">
    <div class="col">
        <app-country-table [countries] = "countries" ></app-country-table>
    </div>
</div>