<div class="row container mt-4">
    <div class="col-3">
        <h2>Searchs</h2>
        <hr>
        <ul class="list-group">
            <li 
                routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                class="list-group-item">Search by Country</li>
            <li 
                routerLink="region"
                routerLinkActive="active"
                class="list-group-item">Search by region</li>
            <li 
                routerLink="capital"
                routerLinkActive="active"
                class="list-group-item">Search by Capital</li>
        </ul>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>