<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Flag</th>
            <th>Name</th>
            <th>Population</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries">
            <td>{{ country.numericCode }}</td>
            <td>
                <img 
                    class="small-flag"
                    src="{{ country.flag }}" alt="{{ country.name }} flag">
            </td>
            <td>{{ country.name }} - {{ country.capital }}</td>
            <td>{{ country.population | number }}</td>
            <td>
               <a [routerLink]="[ '/country', country.alpha2Code]">More...</a>
            </td>
        </tr>
    </tbody>
</table>